.clickable-img {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.clickable-img:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-img-full {
  max-width: 90%;
  max-height: 90vh; /* Se adapta a la altura de la pantalla */
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  object-fit: contain;
}

.btn-cerrar-modal {
  position: absolute;
  top: 25px;
  right: 40px;
  color: #fff;
  font-size: 45px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
  user-select: none;
}

.btn-cerrar-modal:hover {
  color: #d32f2f;
}