<nav class="navbar">
  <div class="nav-brand">Plataforma Muro Escolar</div>
  <div class="nav-links">
    <a routerLink="/galeria" routerLinkActive="active">Galería</a>
    
    <a *ngIf="esDirectivo" routerLink="/dashboard" routerLinkActive="active" class="btn-highlight">
      Panel Analítico
    </a>
    
    <button *ngIf="authService.isLoggedIn()" (click)="cerrarSesion()" class="btn-logout">
      Cerrar Sesión
    </button>
  </div>
</nav>

<main class="main-content">
  <router-outlet></router-outlet>
</main>